<header>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10 flex justify-between">
    <a href="<%= root_path %>">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Shop
      </h1>
    </a>
    <a href="<%= cart_index_path %>">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"/>
      </svg>
    </a>
  </div>
</header>
